{% include  'header.html' %}

<main>
    <h2>Игра кликер</h2>
    
    <h3 id="level">Ваш уровень: 1</h3>
    <img   value = '1' id="clickbtn" src="/static/wllp/click.png" onclick="clickBtn()">



<form method="POST"  action='/clicker/'>
    {% csrf_token %}
    <input  readonly id ="score" name = 'balance' type = 'number' value = '0'>
    
    

     <input type="submit" class="btn btn-primary" value="top up">
</form>
    <div class="d-grid gap-2 col-6 mx-auto">
    <input class="btn btn-primary" type="button"  value="Прокачать на 1 уровень|-100$" onclick="update()">
    <input class="btn btn-primary" type="button" type="button" value="Прокачать на 2 уровня|-150$" onclick="update1()">
    <input class="btn btn-primary" type="button" type="button" value="Прокачать на 3 уровня|-250$" onclick="update2()">
    <input class="btn btn-primary" type="button" type="button" value="Прокачать на 10 уровней|-500$" onclick="update3()">
    <input class="btn btn-primary" type="button" value="Автокликер|-10000$" onclick="auto()">
    <input class="btn btn-primary" type="button" value="Прокачаться на свой уровень" onclick="dialog()">
    </div>
    <form name=MyForm>
      <input name="stopwatch" size="10" value="00:00:00.00" disabled>
    </form>
   
  </main>

{% include  'footer.html' %}
<script>
var score = 0;
var t = 0;
var updating = 1;
var minus = 0;
score = +localStorage.getItem('score');
if (!(!isNaN(parseFloat(score)) && isFinite(score))) score = 0
window.onunload = () => {
    localStorage.setItem('score', score)
};
teg();
function teg() {
  //  document.getElementsByTagName("h1")[0].firstChild.data = score + "$";
  }
//+$
function clickBtn() {
    score = score + updating;
    var Myelement = document.getElementById("score");
    //parseInt(Myelement.value, 10) + 1;
    Myelement.value = score+1 
    teg();
    new Audio('img/jg-032316-sfx-elevator-button.mp3').play();
    return false;
}
//Прокачка
function update() {
    score = score - 100 - 100*0.25*t;
    if (score > 0) {
        t+=1;
        updating += 1;
        teg();
        level();
    } else {
        if1();
        score = score + 100 + 100*0.25*t;
    }
}

function update1() {
    score = score - 150 - 150*0.25*t;
    if (score > 0) {
        t+=2;
        updating += 2;
        teg();
        level();
    } else {
        score = score + 150 + 150*0.25*t;
        if1();
    }
}

function update2() {
    score = score - 250- 250*0.25*t;
    if (score > 0) {
        t+=3;
        updating += 3;
        teg();
        level();
    } else {
        if1();
        score = score + 250+ 250*0.25*t;
    }
}

function update3() {
    score = score - 500- 500*0.25*t;
    if (score > 0) {
        t+=10;
        updating += 10;
        teg();
        level();
    } else {
        if1();
        score = score - 500- 500*0.25*t;
    }
}

function if1() {

}
//автоклике
function auto() {
    score = score - 10000- 10000*t;
    if (score > 0) {
        teg();
        if1();
        setTimeout("plusauto()", 1000);
    } else {
        score = score + 10000+ 10000*t;
    }
}
//вызов автокликера для его работы
function plusauto() {
    score += updating;
    teg();
    setTimeout("auto1()", 1000);
}

function auto1() {
    score += updating;
    setTimeout("plusauto()", 1000);
    teg();
}
//временная пасхалка
function pashalka() {
    score += 10000;
    teg();
}

function level() {
    document.getElementsByTagName("h3")[0].firstChild.data = "Ваш уровень: " + updating;
}

function reboot() {
    alert("Ваш уровень прокачки " + updating + ". Ваш баланс " + score + " .");
}

function dialog() {
    minus = 1;
    minus = parseInt(prompt("На сколько уровней прокачать(x*50, и это минус ваши деньги)", 5));
    if (!(!isNaN(parseFloat(minus)) && isFinite(minus))) return;
    score = score - 100 * minus-  100*0.25*t*minus;
    if (score > 0) {
        t+=minus;
        dialog1();
        teg();
        nan();
    } else {
        if1();
        score = score + 100 * minus +100*0.25*t*minus;
    }

}

function dialog1() {
    score -= minus * 50;
    updating += minus;
    teg();
    document.getElementsByTagName("h3")[0].firstChild.data = "Ваш уровень: " + updating;
    if1();
    nan();
}
//таймер
window.onload = () => {
    StartStop();
}
//объявляем переменные
var base = 60;
var clocktimer, dateObj, dh, dm, ds, ms;
var readout = '';
var h = 1,
    m = 1,
    tm = 1,
    s = 0,
    ts = 0,
    ms = 0,
    init = 0;
//функция для очистки поля
function ClearСlock() {
    clearTimeout(clocktimer);
    h = 1;
    m = 1;
    tm = 1;
    s = 0;
    ts = 0;
    ms = 0;
    init = 0;
    readout = '00:00:00';
    document.MyForm.stopwatch.value = readout;
}
//функция для старта секундомера
function StartTIME() {
    var cdateObj = new Date();
    var t = (cdateObj.getTime() - dateObj.getTime()) - (s * 1000);
    if (t > 999) {
        s++;
    }
    if (s >= (m * base)) {
        ts = 0;
        m++;
    } else {
        ts = parseInt((ms / 100) + s);
        if (ts >= base) {
            ts = ts - ((m - 1) * base);
        }
    }
    if (m > (h * base)) {
        tm = 1;
        h++;
    } else {
        tm = parseInt((ms / 100) + m);
        if (tm >= base) {
            tm = tm - ((h - 1) * base);
        }
    }
    ms = Math.round(t / 10);
    if (ms > 99) {
        ms = 0;
    }
    if (ms == 0) {
        ms = '00';
    }
    if (ms > 0 && ms <= 9) {
        ms = '0' + ms;
    }
    if (ts > 0) {
        ds = ts;
        if (ts < 10) {
            ds = '0' + ts;
        }
    } else {
        ds = '00';
    }
    dm = tm - 1;
    if (dm > 0) {
        if (dm < 10) {
            dm = '0' + dm;
        }
    } else {
        dm = '00';
    }
    dh = h - 1;
    if (dh > 0) {
        if (dh < 10) {
            dh = '0' + dh;
        }
    } else {
        dh = '00';
    }
    readout = dh + ':' + dm + ':' + ds;
    document.MyForm.stopwatch.value = readout;
    clocktimer = setTimeout("StartTIME()", 1);
}
//Функция запуска и остановки
function StartStop() {
    if (init == 0) {
        ClearСlock();
        dateObj = new Date();
        StartTIME();
        init = 1;
    } else {
        clearTimeout(clocktimer);
        init = 0;
    }
}

function nan() {
    if (money == NaN) {
        money = 0;
    }
}
</script>


