{% include 'header.html' %}
<style>
    .mb-auto {
        margin-bottom: 100px;
    }

    container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        margin: 0px;
        padding: 0px;
        width: 30vw;
        height: 30vw;
    }

    th {
        background-color: #fff;
        width: 10%;
        height: 10%;
        border: solid #000 1px;
    }

    .tile {

    }
</style>


<script>
function input_fn(elem){
    if (elem.style.backgroundColor == "red") {
        elem.style.backgroundColor = "white";
    }
    else{

        elem.style.backgroundColor = "red"
    }  
  }
  </script>
  
<container>

<table>
  
    <tr>

        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
</table>
</container>
<script>
    function changeColor(id)
    {
      document.getElementById(id).style.color = "#ff0000"; // forecolor
      document.getElementById(id).style.backgroundColor = "#ff0000"; // backcolor
    }
    </script>