{% include 'header.html' %}
<style>
    .mb-auto {
        margin-bottom: 100px;
    }

    container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        margin: 0px;
        padding: 0px;
        width: 30vw;
        height: 30vw;
    }

    th {
        background-color: #fff;
        width: 10%;
        height: 10%;
        border: solid #000 1px;
    }

    .tile {

    }
</style>
<container>
<table>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
    <tr>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
        <th class="tile"></th>
    </tr>
</table>
</container>