{% include 'header.html' %}
<style>
    .mb-auto {
        margin-bottom: 100px;
    }

    container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        margin: 0px;
        padding: 0px;
        width: 30vw;
        height: 30vw;
    }

    th {
        background-color: #fff;
        width: 10%;
        height: 10%;
        border: solid #000 1px;
    }

    .tile {

    }
</style>
<script>
let a =0

function input_fn(elem){
    if (a == 0){
     elem.style.backgroundColor = "red";
    }
    if (a == 1){
     elem.style.backgroundColor = "blue";
    }
    if (a == 2){
     elem.style.backgroundColor = "green";
    }
    if (a == 3){
     elem.style.backgroundColor = "yellow";
    }
    if (a == 4){
     elem.style.backgroundColor = "black";
    }
    if (a == 5){
     elem.style.backgroundColor = "white";
    }
  }
function input_collor(elem){
    if(elem==0){
    a=0;
    }
if(elem==1){
    a=1;
    }
if(elem==2){
    a=2;
    }
if(elem==3){
    a=3;
    }
if(elem==4){
    a=4;
    }
if(elem==5){
    a=5;
    }

}
</script>

<container>
<table>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
    <tr>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
        <th id="old_id" style="background-color: #ffffff" onclick="input_fn(this)"></th>
    </tr>
</table>
    <button id = "color0" onclick="input_collor(0)"> red</button>
    <button id = "color1" onclick="input_collor(1)">blue</button>
    <button id = "color2" onclick="input_collor(2)">green</button>
    <button id = "color3" onclick="input_collor(3)">yellow</button>
    <button id = "color4" onclick="input_collor(4)">black</button>
    <button id = "color5" onclick="input_collor(5)">white</button>

</container>
<!--загрузка созданной картинки на пк-->

 <div id = "download">
        <button class = "gradient-button">Download</button>
    </div>
<style>
    .gradient-button {
      text-decoration: none;
      display: inline-block;
      color: white;
      padding: 20px 30px;
      margin: 10px 20px;
      border-radius: 10px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
      background-size: 200% auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      transition: .5s;
}
</style>

<script>
    function changeColor(id)
    {
      document.getElementById(id).style.color = "#ff0000"; // forecolor
      document.getElementById(id).style.backgroundColor = "#ff0000"; // backcolor
    }
</script>