<!doctype html>
<html lang="en" class="h-100">
{% load static %}
<meta charset="utf-8">
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(88928314, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88928314" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<link rel="icon" href="/static/wllp/favoicon.png" type="image/x-icon" />

<title>NFT Trading</title>
{% include 'style/cover.html' %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@300&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
</style>

{% include 'style/bootstrap.min.html' %}

<body class="d-flex h-100 text-center text-white bg-dark flex-column">
  <div class=" cover-container d-flex w-100 h-{% if height %}{{ height }}{% else %}100{% endif %} p-3 mx-auto flex-column">
 {% if page  %}
 {% include 'navi.html' %}
 {% endif %}
    <header class="mb-auto">
      <nav class="nav nav-masthead justify-content-center float-md-start">
        {% if page == "main" %}   
           {% if language == "en" %}
           <a class="nav-link active" aria-current="page" href="/">Home</a>
        {% elif language == "fr" %}
        <a class="nav-link active" aria-current="page" href="/">Domicile</a>
        {% elif language == "ru"  %}
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
       {% endif %}
      
        {% else %}
        {% if language == "en" %}
        <a class="nav-link " aria-current="page" href="/">Home</a>
     {% elif language == "fr" %}
     <a class="nav-link " aria-current="page" href="/">Domicile</a>
     {% elif language == "ru"  %}
     <a class="nav-link " aria-current="page" href="/">Главная</a>
    {% endif %}
        {% endif %}
        {% if page == "market" or  page == "inventory" %}
        {% if page == "market" %}
        {% if language == "en" %}

        <a class="nav-link active" href="/market/">TC market</a>
        {% elif language == "fr" %}

        <a class="nav-link active" href="/market/">TC Marché</a>
       
        {% elif language == "ru"  %}
  
        <a class="nav-link active" href="/market/">TC маркет</a>
        {% endif %}
        {% if language == "en" %}
        <div style="margin-left: 1rem;">
          <form action='/market/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                sort</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>By name</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>By price</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% elif language == "fr" %}
        <div style="margin-left: 1rem;">
          <form action='/market/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                tri</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>Par nom</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>Par prix</button></li>
              </ul>
            </div>
          </form>
        </div>
       
        {% elif language == "ru"  %}
  
        <div style="margin-left: 1rem;">
          <form action='/market/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                сортировка</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>По именам</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>По цене</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% endif %}
        {% else %}
        {% if language == "en" %}

        <a class="nav-link " href="/market/">TC market</a>
        {% elif language == "fr" %}

        <a class="nav-link " href="/market/">TC Marché</a>
       
        {% elif language == "ru"  %}
  
        <a class="nav-link " href="/market/">TC маркет</a>
        {% endif %}
        {% if language == "en" %}
        <div style="margin-left: 1rem;">
          <form action='/inventory/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                sort</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>By name</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>By price</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% elif language == "fr" %}
        <div style="margin-left: 1rem;">
          <form action='/inventory/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                tri</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>Par nom</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>Par prix</button></li>
              </ul>
            </div>
          </form>
        </div>
       
        {% elif language == "ru"  %}
  
        <div style="margin-left: 1rem;">
          <form action='/inventory/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                сортировка</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>По именам</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>По цене</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% endif %}
 
        {% endif %}

        {% else %}
        {% if request.user.is_authenticated %}
        {% if language == "en" %}

        <a class="nav-link " href="/market/">TC market</a>
        {% elif language == "fr" %}

        <a class="nav-link " href="/market/">TC Marché</a>
       
        {% elif language == "ru"  %}
  
        <a class="nav-link " href="/market/">TC маркет</a>
        {% endif %}
        {% endif %}
        {% endif %}
      </nav>
      
      <nav class="nav nav-masthead justify-content-center float-md-end">
        {% if not request.user.is_authenticated %}
        {% if page == "login" %}
        {% if language == "en" %}
        <a class="nav-link active" href="/login/">Login</a>
        {% elif language == "fr" %}
        <a class="nav-link active" href="/login/">Connexion</a>
        {% elif language == "ru"  %}
        <a class="nav-link active" href="/login/">Войти</a>
       {% endif %}


        {% else %}
        {% if language == "en" %}
        <a class="nav-link " href="/login/">Login</a>
        {% elif language == "fr" %}
        <a class="nav-link " href="/login/">Connexion</a>
        {% elif language == "ru"  %}
        <a class="nav-link " href="/login/">Войти</a>
       {% endif %}
        {% endif %}
        
        {% if page == "register" %}
        {% if language == "en" %}
        <a class="nav-link active" href="/registory/">Registory</a>
        {% elif language == "fr" %}
        <a class="nav-link active" href="/registory/">Registre</a>
        {% elif language == "ru"  %}
        <a class="nav-link active" href="/registory/">Зарегистрироваться</a>
       {% endif %}

        {% else %}
        {% if language == "en" %}
        <a class="nav-link " href="/registory/">Registory</a>
        {% elif language == "fr" %}
        <a class="nav-link " href="/registory/">Registre</a>
        {% elif language == "ru"  %}
        <a class="nav-link " href="/registory/">Зарегистрироваться</a>
       {% endif %}
        {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
       
      
        {% if page == "clicker" %}
        {% if language == "en" %}
        <a class="nav-link active" href="/clicker/">clicker</a>
        {% elif language == "fr" %}
        <a class="nav-link active" href="/clicker/">Cliqueur</a>
        {% elif language == "ru"  %}
        <a class="nav-link active" href="/clicker/">кликер</a>
       {% endif %}
   
        {% else %}
        {% if language == "en" %}
        <a class="nav-link" href="/clicker/">clicker</a>
        {% elif language == "fr" %}
        <a class="nav-link" href="/clicker/">Cliqueur</a>
        {% elif language == "ru"  %}
        <a class="nav-link " href="/clicker/">кликер</a>
       {% endif %}
        {% endif %}
      
       
        {% endif %}
        {% if request.user.is_authenticated %}
        
        <div class="bal nav-link"> {{request.user.balance}}</div>
        {% endif %}
      </nav>
    </header>
  

  
