<!doctype html>
<html lang="en" class="h-100">
{% load static %}
<meta charset="utf-8">
<link rel="icon" href="/static/wllp/favoicon.png" type="image/x-icon" />

<title>NFT Trading</title>
{% include 'style/cover.html' %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@300&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
</style>

{% include 'style/bootstrap.min.html' %}

<body class="d-flex h-100 text-center text-white bg-dark flex-column">
  <div class=" cover-container d-flex w-100 h-{% if height %}{{ height }}{% else %}100{% endif %} p-3 mx-auto flex-column">
    {% include 'navi.html' %}
    <header class="mb-auto">
      <nav class="nav nav-masthead justify-content-center float-md-start">
        {% if page == "main" %}
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        {% else %}
        <a class="nav-link " aria-current="page" href="/">Home</a>
        {% endif %}
        {% if page == "market" or  page == "inventory" %}
        {% if page == "market" %}
        <a class="nav-link active" href="/market/">TC market</a>
        <div style="margin-left: 1rem;">
          <form action='/market/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                sort</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>By name</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>By price</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% else %}
        <a class="nav-link" href="/market/">TC market</a>
        <div style="margin-left: 1rem;">
          <form action='/inventory/'>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                sort</a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li> <button type="submit" class="btn dropdown-item" value='name' name='sort'>By name</button></li>
                <li> <button type="submit" class="btn dropdown-item" value='price' name='sort'>By price</button></li>
              </ul>
            </div>
          </form>
        </div>
        {% endif %}

        {% else %}
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="/market/">TC market</a>
        {% endif %}
        {% endif %}
      </nav>
      
      <nav class="nav nav-masthead justify-content-center float-md-end">
        {% if not request.user.is_authenticated %}
        {% if page == "login" %}

        <a class="nav-link active" href="/login/">Login</a>

        {% else %}
        <a class="nav-link" href="/login/">Login</a>
        {% endif %}
        
        {% if page == "register" %}
        <a class="nav-link active" href="/registory/">Registory</a>
        {% else %}
        <a class="nav-link" href="/registory/">Registory</a>
        {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="bal nav-link" style="border-bottom-color: #fff; color: #fff; display: flex; justify-content: center"><div style="margin: 0 3px 0 0; ">bal: </div> <em>{{request.user.balance}}</em></div>
        {% if page == "profile" %}
        <a class="nav-link active" href="/profile/">{{ request.user }}</a>
        {% else %}
        <a class="nav-link" href="/profile/">{{ request.user }}</a>
        {% endif %}
        {% if page == "clicker" %}
        <a class="nav-link active" href="/clicker/">clicker</a>
        {% else %}
        <a class="nav-link " href="/clicker/">clicker</a>
        {% endif %}
      
        {% if page == "inventory" %}
        <a class="nav-link active" href="/inventory/">Inventory</a>
        {% else %}
        <a class="nav-link " href="/inventory/">Inventory</a>
        {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="/logout">Logout</a>
        {% endif %}
      </nav>
    </header>
  

  