{% include 'header.html' %}
</div>
</body>
<style>
  .px-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .pictur{
    object-fit: contain;
  max-height: 50%;
  width: auto;
  height: auto;
}
.card {
    transition: all 0.05s ease-out;
    margin: 20px;
  
  } 

  .card:hover{
    scale: 1.04;
  }
</style>
<main class="px-3">
  {% for item in all_data %}
  {% if item.in_market == 'true' %}
  <div class="card" style="width:  350px;  height:450px; color: black; opacity: 0.5;">
    {% else %}
    <div class="card" style="width:  350px;  height:450px; color: black">
      {% endif %}
    <img class = 'pictur' src= '{{item.image.url}}'>
    <div class="card-body">
      <h1>#{{item.id}}</h1>
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description|truncatechars_html:80}}</p>
      <p class="card-text">{{item.price}} $</p>
      <a href="/data/{{item.id}}" class="btn btn-primary">View more</a>
    </div>
  </div>
  {% endfor %}
</main>
{% include 'footer.html' %}