<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
{% include 'style/login_register_style.html' %}
{% include 'style/cover.html' %}
<script>
    function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
</script>
<style>
    p,
    h2 {
        margin: 50px;
    }
</style>
{% include 'style/bootstrap.min.html' %}

<body id="element">
    <div class="wrapper fadeInDown">
        <form method="POST" action='/transaction/'>
            {% csrf_token %}
            <div id="formContent">
                <h2 class="active"> Create Trade </h2>
                <p><span for='id_username'> NFT name </span>
                    <input readonly type="text" class="form-control" name="name" value="{{nft_name}}"
                        aria-label="First name" style='margin: 10px;' readonly>
                </p>
                <p><span for='id_username'><label for="customRange1" class="form-label">Trade price</label>
                <input type="range" name="trade_price" class="form-range" min="{{nft_price_l}}"
                    max="{{nft_price_h}}" step="1" id="customRange3" onchange="updateTextInput(this.value);">
                    <input  readonly type="text" name="text" id="textInput" value="{{nft_price}}"></span></p>
                    
                <p><span for='id_username'> Message to NFT holder </span>
                    <input type="text" class="form-control" name="message" placeholder="" aria-label="description"
                        style='margin: 10px;' required>
                </p>
                <div class="col" style='margin: 10px;'>
                    <input type="submit" class="btn but btn-secondary" name="transaction" value='Make' /><br />
                </div>
            </div>
        </form>
    </div>
    </div>
    {% include 'footer.html' %}