{% include 'header.html' %}
</div>
</body>
<style>

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@300&display=swap');

a{
  text-decoration: none;
}
  .px-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .pictur{
    border-radius: 20px  20px 0 0;
    border-bottom: 0;
  object-fit: contain;
  max-height: 80%;
  width: 100%;

}
.card-body1{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  display: flex;
flex-direction: row;

}
.left {
margin-left: 10px;
width: 70%;
height: 100%;

}
.right {
  margin-right: 10px;
  font-size: 15px;
  width: 30%;
height: 100%;
}
.card {
  border-radius: 20px;
  border: 0;
  transition: all 0.05s ;
    margin: 20px;
  
  } 
  .desc{
    font-size: 11px;
  }
.card:hover{
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
    scale: 1.04;
  }
</style>
<main class="px-3">
  {% for item in all_data %}
  <a href="/data/{{item.id_nft}}">
  <div class="card" style="width:  315px;  height:400px; color: black">
    <img class = "pictur" src= '{{item.image.url}}' >
    <div class="card-body1">   
      <div class = 'left'>
        <span style =" color: rgba(0,0,0,0.5);">{{item.owner}}<img src= "/{{item.owner_image}}" style = "width: 20px; height: 20px; border: 1px solid black;border-radius: 100%; margin: 5px;"><br></span>
        <span style = "font-weight: 900;">{{item.name|truncatechars_html:20}} # {{item.id}} <br></span>
        <span class = 'desc'>{{item.description|truncatechars_html:60}}</span>
      </div>
      <div class="right">
        <span>Price<br></span>
        {% if item.price == item.new_price %}
        <span>{{item.new_price}}</span>
        {% elif item.price > item.new_price %}
        <span style = "color: red;"><del>{{item.price}}</del><br></span>
        <span style = 'color: green'>{{item.new_price}}</span>
        {% else %}
        <span style = 'color: green'><del>{{item.price}}</del><br></span>
        <span style = "color: red;">{{item.new_price}}</span>
        {% endif %}

      </div>
    </div>
  </div>
</a>

  {% endfor %}
</main>
{% include 'footer.html' %}