{% include 'header.html' %}
</div>
</body>
<style>
  .px-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  *{
        color: black;
    }
  .card {
   
    margin: 20px;
  
  }
</style>
<main class="px-3">
  {% for item in all_data %}
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.chat}}</p>
      <p class="card-text">{{item.price_array}}</p>

      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>
  {% endfor %}
</main>
{% include 'footer.html' %}