{% include 'header.html' %}

<script>
    function standby() {
        document.getElementById('foo').src = 'https://bayctron.com/_next/image?url=%2Fanimation%2Floading.gif&w=640&q=75'

    }
</script>

<style>
    .block {

        width: 100%;
        display: flex;
        justify-content: center;
        
        align-items: center;
    }

    .nft {
        width: 600px;

    }

    .txt{
        margin-left: 20px;
        align-items: center;
    }

    .it{
        margin: 30px;
    }
</style>
<form action="/trade/" method = 'POST'>
    <div class="block">
        <img id="foo" class="nft rounded-3" src="{{form.image.url}}" onerror="standby()">
        <div class="txt">
            <h1  class = 'it'> Name : {{form.name}}</h1>
            <h5 class = "description it">{{form.description}}</h5>
            {% csrf_token %}
            <button class="btn btn-primary it"  name="make" value = '{{form.id}}'  >Make trade </button>
        </div>
    </div>
</form>
{% if form.owner == request.user.username %}
<tr>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">price</th>
            <th scope="col">message</th>
            <th scope="col">new_owner</th>
            <th scope="col">time</th>
          </tr>
        </thead>
        <tbody>
            {% for item in all_data %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td scope="row">{{item.new_price}}</td>
            <td scope="row">{{item.message}}</td>
            <td scope="row">{{item.author}}</td>
            <td scope="row">{{item.time}}</td>
            <form action='/transaction/' method="POST">
                {% csrf_token %}
            <td scope="row"> <button class="btn btn-primary"  name="trade_id" value = '{{item.id}}'  >Make trade  </button></td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endif %}

{% include 'footer.html' %}