{% include 'header.html' %}
<style>
    container{
        background-color: #ccc;
        opacity: 1;
        align-items: left;
        display: flex;
        justify-content: space-between;
        border-radius: 50px;
        padding: 25px;
        margin: 60px 0px;
    }

    p{
        text-align: left;
    }
</style>
<div style = 'width: 100%; height: 100%; margin-top: 150px;'>

    <img  src="{{request.user.profile_pic.url}}"  alt = '..' style="width: 300px; height: 300px; margin: auto; align-items: center; text-align: center;" class="img-thumbnail" alt="...">
    <h1 style="text-align: center;">{{form}}</h1>
    <h3 class=" text-center " style="margin: 10px;"> {{request.user }}</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Settings
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li>
              <form method="post" enctype="multipart/form-data" action="/profile/" style="padding:10px">
                <h5>Смена изображения профиля:</h5>
                {% csrf_token %}
                <p><span for='id_username'> File:   </span>
                    <label for="formFile" class="form-label"></label>
                    <input class="form-control" type="file"  accept="image/png, image/gif, image/jpeg"  name="myfile" required>
                   </p>
                    <div class="col" style='margin: 10px;'>
                      <input type="submit" class="btn but btn-secondary" name="submit" value='Upload' /><br />
                    </div>
              </form>
          </li>

        </ul>
    </div>
   
    {{form.as_p}}
    <container style = 'background-color: #ccc; opacity: 1 '>
        <div class="ps">
            <p>Earned total</p>
            <p>Spent total</p>
            <p>Wins</p>
            <p>Bots bought</p>
            <p>NFTs bought</p>
            <p>NFTs sold</p>
        </div>
        <div class="nums">
            <p>{{ Earned }} {{request.user.balance}}</p>
            <p>{{ Spent }} {{request.user.balance}}</p>
            <p>{{ Wins }} {{request.user.balance}}</p>
            <p>{{ Bots }} {{request.user.balance}}</p>
            <p>{{ NFTs_bought }} {{request.user.balance}}</p>
            <p>{{ NFTs_sold }} {{request.user.balance}}</p>
        </div>
    </container>
</div>

{%include 'footer.html' %}
